@import "tailwindcss";

@theme {
  --color-brand-accent: #FF5E00;
  --color-brand-bg: #050505;
  --color-brand-gray: #1a1a1a;
  --color-brand-text: #FFFFFF;
  --color-brand-muted: #888888;
}

@layer base {
  body {
    background-color: var(--color-brand-bg);
    color: var(--color-brand-text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

/* Custom Hide Scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
